<div class="container">
  <div [hidden]="submitted">
    <h1 style="color:green">Application Creation Form</h1>
    <form (ngSubmit)="onSubmit()" #studentForm="ngForm">
      <div class="form-group">
        <label for="appname">Application Name</label>
        <input type="text" class="form-control" id="appname"
               required
               [(ngModel)]="student.appname" name="appname"
               #name="ngModel">
             </div><br>

               
      <button type="submit" class="btn btn-success" [disabled]="!studentForm.form.valid">Create</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>Details submitted</h2>
  </div>
</div>